
.btn-loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;
}

.btn-loading:after {
  content: '';
  -webkit-animation: loader 500ms infinite linear;
  animation: loader 500ms infinite linear;
  border: 2px solid #fff;
  border-radius: 50%;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  display: block;
  height: 1.4em;
  width: 1.4em;
  position: absolute;
  left: calc(50% - (1.4em / 2));
  top: calc(50% - (1.4em / 2));
  -webkit-transform-origin: center;
  transform-origin: center;
  position: absolute !important;
}

.btn-loading.btn-sm:after, .btn-group-sm > .btn-loading.btn:after {
  height: 1em;
  width: 1em;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
}

.btn-loading.btn-secondary:after {
  border-color: #495057;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.delete-multiple{
  display: none;
}


.image-chooser {
    width: 100px;
    height: 100px;
    border: 1px solid #dee1e7;
    padding: 5px;
    cursor: pointer;
}
#modal-image .image .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}

#modal-image .image {
    width: 100%;
    height: 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#modal-image svg.folder {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    color: #959ba4;
    cursor: pointer;
    padding-bottom: 22px;
}
#modal-image .image .name {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    left: 0;
    background: rgba(52, 48, 49, 0.6784313725490196);
    color: #ddd;
    text-align: center;
    font-size: 12px;
}

#modal-image .image .delete-check {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    margin: 0;
    cursor: pointer;
    display: none;
}
#modal-image .image .delete-check input {
    margin: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: 21px;
    border-radius: 0;
}
#modal-image #button-delete{
  display: none;
}
#modal-image .image:hover .delete-check, #modal-image .image .delete-check.checked {
    display: block;
}